.member
  border 1px solid #8f8f8f
  padding 10px
  margin 10px 0
  background-color #f9f9f9
  border-radius 10px

  *
    vertical-align middle

  h2
    color #ffffff
    margin 0
    text-shadow 2px 2px 4px #000000

  div
    width 50px
    text-align center
    display inline-table

  .name
    width 200px
    text-align left

  .xs
    font-size x-small

  .info
    width 300px
    float right
    display flex
    justify-content space-around

    div
      width 100px